---
import { getPortfolioData } from "@/utils/data";
import Heading from "@/components/ui/heading/Heading";
import { Image } from "astro:assets";

// Import award images from assets
import cannen from "@/assets/awards/cannen.png";
import guldagg from "@/assets/awards/guldagg.png";
import svenskadesign from "@/assets/awards/svenskadesign.png";
import Card3D from "@/components/Card3D";

const { awards } = await getPortfolioData();

// Map image paths to imported assets
const imageMap: Record<string, any> = {
	"/img/awards/cannen.png": cannen,
	"/img/awards/guldagg.png": guldagg,
	"/img/awards/svenskadesign.png": svenskadesign,
};

// Replace string paths with imported ImageMetadata dark:bg-[#154964
const awardsWithImages = awards.map((award) => ({
	...award,
	image: imageMap[award.images] || award.images,
}));
---

<section class="bg-white py-20 dark:bg-neutral-800">
	<div class="container mx-auto px-4">
		<Heading level="h3" gradient floating backplate client:idle> Awards </Heading>

		<div class="grid grid-cols-1 gap-8 text-center md:grid-cols-2 lg:grid-cols-3">
			{
				awardsWithImages.map((award) => (
					<Card3D className="text-black group/card " childClassName="clip6 " glowColor="color-mix(in srgb, currentColor 80%, var(--color-primary));" client:load >
					<a
						href={award.link}
						class=" rounded-lg bg-opium p-6 transition-transform hover:-translate-y-1 "
					>
						<div class="">
							<Image
								src={award.image}
								alt={award.name}
								widths={[480, 768, 1024]}
								sizes="(max-width: 768px) 100vw, 33vw"
								format="webp"
								quality={80}
								loading="lazy"
								class="mx-auto mb-4 rounded-lg transition-transform group-hover/card:scale-105"
							/>
							<h3 class="mb-2 text-xl font-semibold text-primary-500 group-hover/card:translate-z-20 group-hover/card:scale-110 transition-all duration-300">{award.name}</h3>
							<p class="text-primary-500">{award.description}</p>
						</div>
					</a>
					</Card3D>
				))
			}
		</div>
	</div>
</section>
