---
import React from "react";
import Hero from "@/components/hero/Hero.astro";
import Button from "@/components/ui/Button";
import { getPortfolioData, getPortfolioItems } from "@/utils/data";
const { contact } = getPortfolioData();
const portfolioItems = await getPortfolioItems();
---

<Hero
	title={contact.name}
	subtitle={contact.role}
	subtitleText={contact.description}
	fullHeight={true}
	text="Hey! ✌️ I'm"
	island
>
	<React.Fragment>
		<div class="flex flex-wrap gap-4">
			<Button href="/portfolio" text="View My Work" />
			<Button href="/contact" text="Get in Touch" />
		</div>
		<div>
			<ul class="align-items-start mt-4 flex flex-wrap">
				<li class="hero-info-item">
					<div class="align-items-center flex">
						<h3 class="text-4xl font-bold">
							<span class="gradient-text font-bold">{contact.yearsOfExperience}</span>
						</h3>
						<h6
							class="border-primary-500 ml-2 border-l pl-2 text-sm leading-tight text-gray-800 dark:text-gray-400"
						>
							Years <br />of Experience
						</h6>
					</div>
				</li>
				<li class="hero-info-item md:ml-8">
					<div class="align-items-center flex">
						<h3 class="text-4xl">
							<span class="gradient-text font-bold">{portfolioItems.length}</span>
						</h3>
						<h6
							class="border-primary-500 ml-2 border-l pl-2 text-sm leading-tight text-gray-800 dark:text-gray-400"
						>
							Projects <br />Completed
						</h6>
					</div>
				</li>
			</ul>
		</div>
	</React.Fragment>
</Hero>
